@charset "UTF-8";

body {
   background-image: linear-gradient(to bottom, #E3D8F2, #CEBDF2, #91B2F2, #BBCDF2, #8DB9F2);
}

.container {

    width: 347px;
    background-image: linear-gradient(to left, #CEBDF2, #BBCDF2, #8DB9F2);
    border-radius: 10px;
}

h2 {

    margin: 30px 0 30px 0;
}

.cadastro {
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.input {

    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding: 2px;
    margin-bottom: 10px;
    text-decoration: transparent;
}
