@charset "UTF-8";


.container {

    width: 347px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.459), rgba(255, 255, 0, 0.425));
    border-radius: 10px;
}

h2 {

    margin: 30px 0 30px 0;
}
.cadastro {
    margin-top: 30px;
    margin-bottom: 30px;
}