@charset "UTF-8";

body {

    background-image: url(../BackgroundLogin.jpg);

}


.container {
    
    width: 280px;
    height: 450px;
    background-color: #E3D8F2;
    border-radius: 10px;
}

h2 {

    font-size: 1.3em;
    margin: 5px 0 30px 0;
}

.cadastro {
    
    margin-top: 30px;
    margin-bottom: 30px;
}

.input {

    background: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    padding: 2px;
    margin-bottom: 10px;
    text-decoration: transparent;
}

.none {

    display: none;
}