@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #E3D8F2, #CEBDF2, #91B2F2, #BBCDF2, #8DB9F2);
}

.container {

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 400px;
    background-color: #BBCDF2;
    border-radius: 70px 0 70px 0;
    padding: 40px 60px 40px 60px;
    
}

h2{

    margin: 30px 0 40px 0;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.466);
    font-size: 1.8em;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}

h2:hover {

    transform: translateY(20px);
    border-radius: 50%;
    border-bottom: 10px solid rgba(255, 255, 255, 0.466);
}

.span {

    color: black;
    text-shadow: 4px 2px 4px rgb(0 0 0 / 36%);
}

.none {

    display: none;
}


label, .input, .entrar {

    display: block;
    width: 100%;
    outline: none;
    border: 0;
    padding: 3px;
    border-radius: 5px;
    font-weight: bolder;
}

.entrar:hover {

    background-color: antiquewhite;
}

.input, .entrar {

    padding: 15px;
    margin-bottom: 10px;
}

.entrar {

    text-transform: uppercase;
}

.cadastro {

    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}