@charset "UTF-8";

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    background-color: #f6f6f9;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
}

.container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-image: linear-gradient(to left, rgba(0, 0, 255, 0.5), rgba(89, 47, 94, 0.521));
    border-radius: 70px 0 70px 0;
    padding: 40px 60px 40px 60px;
    margin: auto;
}

h2{

    margin: 30px 0 30px 0;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.466);
    font-size: 1.6em;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}

h2:hover {

    transform: translateY(20px);
    border-radius: 50%;
    border-bottom: 10px solid rgba(255, 255, 255, 0.466);
    
}

.span {

    color: black;
    text-shadow: 4px 2px 4px rgb(0 0 0 / 36%);
}


label, .input, .entrar {

    display: block;
    width: 100%;
    outline: none;
    border: 0;
    padding: 3px;
    border-radius: 5px;
    font-weight: bolder;
}

.entrar:hover {

    background-color: antiquewhite;
}

.input, .entrar {

    padding: 15px;
    margin-bottom: 10px;
}

.cadastro {

    margin-top: 30px;
    text-align: center;
    color: black;
}